* {
  font-family: 'Symbols Nerd Font', 'TeX Gyre Heros', 'IBM Plex Sans JP', 'Source Han Sans', sans-serif;
  font-size: 24px;
}

window#waybar {
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 500ms;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

window#waybar > box {
  padding: 12px 0 0 0;
}

#workspaces button {
  padding: 0 12px;
  background-color: transparent;
  color: #3a3b45;
  border: none;
  border-radius: 1em;
  padding: 0.2em 0.8em;
  margin: 0 0.2em;
  transition-property: color, background-color;
  transition-duration: 150ms;
  /* Disable default styling */
  text-shadow: none;
  box-shadow: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(255, 255, 255, 0.15);
}

#workspaces button.focused {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  font-weight: bold;
  color: #f35434;
  padding: 0.2em 0.8em;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

.modules-right > widget > label,
.modules-right > widget > box {
  padding: 0 20px;
}

.modules-right > widget:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

#clock {
}

#battery {
}

#battery.charging,
#battery.plugged {
}

@keyframes blink {
to {
  background-color: #ffffff;
  color: #000000;
}
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
  color: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
  background-color: rgba(0, 0, 0, 0.15);
}

#custom-media {
  min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  color: rgba(255, 255, 255, 0.3);
}

#idle_inhibitor.activated {
  color: #ffffff;
}

#keyboard-state {
}

#keyboard-state > label {
}

#keyboard-state > label.locked {
  background-color: rgba(0, 0, 0, 0.2);
}
