#waybar {
  font-family: 'Symbols Nerd Font', 'Inter', 'IBM Plex Sans JP', 'Source Han Sans', sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 1000px;
  transition-property: background-color;
  transition-duration: 500ms;
}

#waybar > box {
  /* Cannot be applied to window#waybar, and therefore should be here */
  padding: 0 1.6em;
}

#window > label {
  min-width: 40em;
}

#workspaces > button {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 1);
  border-radius: 0;
  margin: 0;
  padding: 0.6em 0.4em;
  transition-property: background-color, opacity;
  transition-duration: 200ms;
  opacity: 0.5;
  /* Disable default styling */
  box-shadow: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.7;
}

#workspaces button.focused,
#workspaces button.active,
#workspaces button.visible {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

#workspaces button.urgent {
  background-color: rgba(235, 77, 75, 0.2);
}

#mode {
  font-weight: bold;
  color: #f35434;
  padding: 0.2em 0.8em;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.modules-right > widget > box,
.modules-right > widget > label {
  margin-left: 1em;
  margin-right: 1em;
}

.modules-right > widget:last-child > box,
.modules-right > widget:last-child > label {
  margin-left: 1em;
  margin-right: 0;
}

.modules-right > widget:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

@keyframes blink {
to {
  background-color: #ffffff;
  color: #000000;
}
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  color: #f53c3c;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor.deactivated {
  color: rgba(192, 192, 192, 1);
}

#idle_inhibitor.activated {
  color: rgba(255, 255, 255, 1);
}
