* {
  font-family: 'Symbols Nerd Font', 'Inter', 'IBM Plex Sans JP', 'Source Han Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

#waybar {
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 500ms;
}

#waybar > box {
  padding: 0.8em 1.4em 0 1.4em;  /* Cannot be applied to window#waybar, and therefore should be here */
}

#window > label {
  font-size: 120%;
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  min-width: 30em;
}

#workspaces > button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 0.2em 0.8em;
  margin-right: 0.6em;
  min-width: 0;
  transition-property: color, background-color;
  transition-duration: 200ms;
  /* Disable default styling */
  text-shadow: none;
  box-shadow: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(255, 255, 255, 0.15);
}

#workspaces button.focused,
#workspaces button.active,
#workspaces button.visible {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  font-weight: bold;
  color: #f35434;
  padding: 0.2em 0.8em;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.modules-right > widget > box,
.modules-right > widget > label {
  margin-left: 1em;
  margin-right: 1em;
}

.modules-right > widget:last-child > box,
.modules-right > widget:last-child > label {
  margin-left: 1em;
  margin-right: 0;
}

.modules-right > widget:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes blink {
to {
  background-color: #ffffff;
  color: #000000;
}
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  color: #f53c3c;
}

#pulseaudio.muted {
  background-color: rgba(0, 0, 0, 0.15);
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  color: rgba(255, 255, 255, 0.3);
}

#idle_inhibitor.activated {
  color: #ffffff;
}
